<div class="" style="height: 100%;margin-top: 400px;">
    <div>
        <h1 class="center-align">
            ***** google
        </h1>
        <div class="row">
            <form class="col s12" ng-submit="submit(search.query)">
                <div class="row center-align" style="margin-bottom: -5px;">
                    <div class="input-field col s6 offset-s3">
                        <i class="material-icons" style="position: absolute; bottom: 22px; right: 0;">search</i>
                        <input  autofocus name="search" id="search" style=" left: -20px;" ng-model="search.query"
                                ng-change="updateQuery(search.query)"
                                type="text" placeholder="type something to search" class="validate">
                    </div>
                </div>
                <div class="row">
                    <div class="col s6 offset-s3">
                        <suggestions results="results"></suggestions>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>